<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none"/>
  </appSettings>
  
   <connectionStrings>
      <!--<add name="cnStr" connectionString="Data Source=L1-PC55 ;Initial Catalog=Cook With Us;Integrated Security=True" />
      <add name="Cook With UsConnectionString" connectionString="Data Source=L1-PC55 ;Initial Catalog=Cook With Us;Integrated Security=True"
         providerName="System.Data.SqlClient" />-->

     <add name="cnStr" connectionString="Data Source=UNNATI\MSSQLSERVER11;Initial Catalog=Cook With Us;Integrated Security=True" />
     <add name="Cook With UsConnectionString" connectionString="Data Source=UNNATI\MSSQLSERVER11;Initial Catalog=Cook With Us;Integrated Security=True"
        providerName="System.Data.SqlClient" />

   </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
</configuration>